h2 {
  margin-top: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}

h4 {
  margin: 10px;
  font-style: italic;
  font-weight: normal;
}

h6 {
  margin: 5px;
  white-space: nowrap;
  font-weight: normal;
  color: hsl(0, 0%, 83%);

}